.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 400px;
   
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box{
   width: 100px;
   height: 100px;
   border: 1px solid black;
   cursor: pointer;
}
.color{
    background-color: orangered;
}
